<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name-"viewport" content="width=device-width, intial-scale=1.0">
    <title>Superhero Index</title>
</head>

<body>
    <h1> Superhero Detail</h1>
    <ul>
        <li><h2>Name: {{single_hero.name}}</h2></li>
        <li><h3>Hero Catch Phrase:<i> "{{single_hero.catch_phrase}}"</i></h2></li>
        <li><h3>Alter Ego: {{single_hero.alter_ego}}</h3></li>
        <li><h3>Primary Ability: {{single_hero.primary_ability}}</h3></li>
        <li><h3>Secondary Ability: {{single_hero.secondary_ability}}</h3></li>
    </ul>  
</body>

</html>