<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name-"viewport" content="width=device-width, intial-scale=1.0">
    <link rel="stylesheet" href= "https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css">
    <title>Update Hero</title>
</head>
<body>
   <form action="{% url 'superheroes:edit' updated_hero.id %}" method="POST">
        {% csrf_token %}
        Name: <input type = "text" name = "name" id="name" value = "{{updated_hero.name}}"><br />
        Alter Ego: <input type = "text" name = "alter_ego" id="alter_ego" value = "{{updated_hero.alter_ego}}"><br />
        Primary Ability: <input type = "text" name = "primary" id="primary" value = "{{updated_hero.primary_ability}}"><br />
        Secondary Ability: <input type = "text" name = "secondary" id="secondary"value = "{{updated_hero.secondary_ability}}"><br />
        Catchphrase: <input type = "text" name = "catchphrase" id="catchphrase"value = "{{updated_hero.catch_phrase}}"><br /><br><br>
        <input type = "submit" value="Save Changes">
    </form>
    <br>
   <h3> <a href = "{% url 'superheroes:index' %}">Return without making changes</a></h3>
</body>
</html>