<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name-"viewport" content="width=device-width, intial-scale=1.0">
    <link rel="stylesheet" href= "https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css">
    <title>Update Hero</title>
</head>
<body>
   <form action="{% url 'superheroes:edit' updated_hero.id %}" method="POST">
        {% csrf_token %}
        <table>

        <tr><td style = "width:45%">Name: </td><td><input type = "text" name = "name" id="name" value = "{{updated_hero.name}}"></td></tr>
        <tr><td>Alter Ego: </td><td><input type = "text" name = "alter_ego" id="alter_ego" value = "{{updated_hero.alter_ego}}"></td></tr>
        <tr><td>Primary Ability: </td><td><input type = "text" name = "primary" id="primary" value = "{{updated_hero.primary_ability}}"></td></tr>
        <tr><td>Secondary Ability: </td><td><input type = "text" name = "secondary" id="secondary"value = "{{updated_hero.secondary_ability}}"></tr></td>
        <tr><td>Catchphrase: </td><td><input type = "text" name = "catchphrase" id="catchphrase"value = "{{updated_hero.catch_phrase}}"></td></tr>
        </table>
        </br>
        <input type = "submit" value="Save Changes">
    </form>
    <br>
   <h4> <a href = "{% url 'superheroes:index' %}">Return without making changes</a></h4>
</body>
</html>