<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name-"viewport" content="width=device-width, intial-scale=1.0">
    <title>Superhero Index</title>
</head>
<body>
    <h1> List of Heroes</h1>
    <ul>
        {% for hero in all_heroes %}
        <table>
            <tr>
                <td><li><h2>{{hero.name}}</h2></li></td>
                <td><h3><a href = "{% url 'superheroes:detail' hero.id %}">Click for Details</a></h3></td>
                <td><h3><a href = "{% url 'superheroes:edit' hero.id %}">Edit Hero</a></h3></td>
                <td><h3><a href = "{% url 'superheroes:delete' hero.id %}">Delete Hero</a></h3></td>
           </tr>           
        </table>
        {% endfor %}
    </ul>
    <a href = "{% url 'superheroes:create' %}">Add a new Hero</a>    
</body>
</html>